.github-profile {
  margin: 1rem;
}
.github-profile img {
  width: 100px;
}

.github-profile .info {
  display: inline-block;
  margin-left: 12px;
  vertical-align: top;
}

.github-profile .name {
  font-size: 1.25rem;
  font-weight: bold;
}
